<div class="container">
  <% @stores.each do |s| %>
    <div class="card my-3">
      <div class="card-body my-3">
        <h3 class="card-title text-danger">Datos del local</h3>
        <div>
          <h5 class="card-title">Nombre: <%= s.name %></h5>
          <p class="card-text">Estado: <%= s.status %></p>
          <p class="card-text">Fecha de actualización: <%= s.updated_at %></p>
        </div> 
        <div class="row my-3">
          <h3 class="text-danger">Dispositivos</h3>
          <% s.device_server.each do |d| %>
            <div class="col-sm-12 col-lg-4">
              <div class="card my-3">
                <div class="card-body">
                  <p class="card-title">Nombre: <%= d.name %></p>
                  <p class="card-text">Estado: <%= d.status %></p>
                  <p class="card-text">Fecha de actualización: <%= d.updated_at %></p>
                </div> 
              </div>
            </div> 
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
